<%= link_to 'See all students',  students_path %>
<%= link_to 'Create a new student',  new_student_path %><br>




<h1> Student info </h1>
<%=@student.name %>

<h3> address info </h3>
<% @address.each do |ad| %>

Description:<%=ad.description %><br>
Street:<%=ad.street %><br>
City:<%=ad.city %><br>
State:<%=ad.state %><br>
Zipcode:<%=ad.zipcode %><br><br>


<% end  %>
