

<h1> address info </h1>
<%=@address.description %><br>
<%=@address.street %><br>
<%=@address.city %><br>
<%=@address.state %><br>
<%=@address.zipcode %><br>
<h3> Student name </h3>
<%=@address.student.name %><br>
